@model MainPageModel<SteelcaseVQI.Models.MainPageModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p> 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assembly.Nbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assembly.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assembly.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assembly.ComponentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assembly.Nbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assembly.Description)
        </td>
        <td>
            <img width="500px" src="@Html.DisplayFor(modelItem => item.Assembly.Image)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assembly.ComponentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Assembly.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Assembly.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Assembly.ID })
        </td>
    </tr>
}

</table>
